@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
} 

body { 
    background-image: linear-gradient(to right, #F2CD88, #260101 );
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #260101;
    width: 600px;
    padding: 10%px;
    margin: auto;
}
h1{
    color: #ca0707;
    text-align: center;
    text-shadow: 1px 1px 2px #260101;

}
h2{
    color: #f20505;

}
    
    p {
    text-align: justify;

}